<form action="/posts" method="post">
  <h1>Create a new post:</h1>
  <input type="text" name="post[name]">
  <br>
  <textarea name="post[body]" rows="8" cols="40"></textarea>
  <p>
    <input type="submit" value="Create Post!"> or 
    <a href="/posts">Cancel</a>
  </p>
</form>

